<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">

    <!-- <a class="navbar-brand" href="#!">
         <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="mdb logo">
    </a> -->

    <!-- Collapse button -->
    <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
        aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="waves-effect" href="#!">Home</a></li>
        <!--  <li class="breadcrumb-item"><a class="waves-effect" href="#!">Templates</a></li>
        <li class="breadcrumb-item active"><a class="waves-effect" href="#!">E-commerce</a></li> -->
    </ol>
    <!-- Breadcrumbs -->

    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav1">

        <!-- Right -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#!" class="nav-link navbar-link-2 waves-effect">
                    <span class="badge badge-pill red">1</span>
                    <i class="fas fa-shopping-cart pl-0"></i>
                </a>
            </li>

            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    S'authentifier
                </a>
            </li>
            <li class="nav-item pl-2 mb-2 mb-md-0">
                <a href="#!" type="button"
                    class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">S'inscrire</a>
            </li>
        </ul>

    </div>
    <!-- Links -->

</nav>
<!-- Navbar -->
<div class="container" *ngIf="listCategories">
    <div class="panel panel-primary">
        <div class="panel-heading">E-Livre</div>
        <button class="btn btn-primary" (click)="readLivre()">Tout les
            livres</button>
        <div class="panel-body">
            <span *ngFor="let c of listCategories._embedded.categories" class="mr-3">
                <button (click)="readLivre(c.idCategorie)"
                    [ngClass]="c.idCategorie==categorieCourrante?'btn btn-danger':'btn btn-primary'">{{ c.codeCategorie }}&nbsp;
                    {{c.designationCategorie }}</button>
            </span>
        </div>
        <table class="table" *ngIf="listLivres && listLivres._embedded.livres.length>0">
            <tr>
                <th>Code</th>&nbsp;&nbsp;
                <th>Designation</th>&nbsp;&nbsp;
                <th>Nom</th>&nbsp;&nbsp;
                <th>Photo</th>&nbsp;&nbsp;
                <th>Prix</th>&nbsp;&nbsp;
                <th>Quantité</th>&nbsp;&nbsp;
            </tr>
            <tr *ngFor="let l of listLivres._embedded.livres">
                <td>{{ l.codeLivre }}</td>&nbsp; &nbsp;
                <td>{{ l.designationLivre }}</td>&nbsp; &nbsp;
                <td>{{ l.nomLivre }}</td>&nbsp; &nbsp;
                <td>{{ l.photoLivre }}</td>&nbsp; &nbsp;
                <td>{{ l.prixLivre }}</td>&nbsp; &nbsp;
                <td>{{ l.quantiteLivre }}</td>&nbsp; &nbsp;
                <td><button class="btn btn-success">Ajouter au panier</button></td>
                <td><button class="btn btn-warning">Rate</button></td>
                <td><button class="btn btn-primary">Modifier</button></td>
                <td><button class="btn btn-danger">Supprimer</button></td>
            </tr>
        </table>
    </div>
</div>